!!! 5
= render 'layouts/html_shim'
%head
  -# Basic Page Needs
  -# ==================================================
  %meta{ charset: "utf-8" }
  %title= yield(:title) || 'Legacy App'
  %meta{ content: "Legacy App", name: "description" }
  %meta{ content: "Tricycle and Paul", name: "author" }
  -# Mobile Specific Metas
  -# ==================================================
  %meta{ content: "width=device-width, initial-scale=1, maximum-scale=1",
        name: "viewport" }
  = stylesheet_link_tag "application", media: "all"
  = yield :stylesheets
  = render 'layouts/shim'
  = javascript_include_tag "application"
  = yield :javascripts
  = csrf_meta_tags
%body
  -# Primary Page Layout
  -# ==================================================
  .container
    .sixteen.columns
      %h1.remove-bottom{ style: "margin-top: 40px" }
        = link_to 'Legacy App', root_path
      %hr/
      = render partial: 'layouts/flash'
    = yield
    -# container